.chatroom{
  background-color: white;
  width: calc(100vw - 300px);
  display: inline-block;
  float: left;
}

.chattingInfo{
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  height: 5vh;
}

.chatblock{
  background-color: white;
  width: calc(100vw - 300px);
  height: calc(80vh - 28px);
  overflow-y: auto;
  overflow-x: hidden;
}

.chatblock div{
  direction: ltr;
  position: relative;
  overflow-x: hidden;
  word-break: break-all;
  bottom: 0px;
  right: 0px;
  max-width: calc(95vw - 300px);
  font-family: monospace;
  font-size: 25px;
}

.chatblock p{
  margin: 10px;
}

.left p{
  display: inline-block;
  float: left;  
}

.right p{
  display: inline-block;
  float: right;
}

.chatbar{
  background-color: white;
  width: calc(100vw - 300px);
}

.chatbar input{
  display: inline-block;
  float: left;
  width: calc(100vw - 400px);;
  font-size: 28px;
}

.chatbar p{
  display: inline-block;
  float: left;
  font-size: 32px;
  margin: auto;
  cursor: pointer;
}