.chatroom{
  background-color: white;
  width: 66vw;
  min-height: 100vh;
  display: inline-block;
  float: left;
}

.chattingInfo{
  font-family: monospace;
  font-size: 30px;
  text-align: center;
  height: 5vh;
}

.chatblock{
  background-color: white;
  width: 66vw;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatblock div{
  direction: ltr;
  position: relative;
  overflow-x: hidden;
  word-break: break-all;
  bottom: 0px;
  right: 0px;
  max-width: 63vw;
  font-family: monospace;
  font-size: 25px;
}

.chatblock p{
  margin: 10px;
}

.left p{
  display: inline-block;
  float: left;  
}

.right p{
  display: inline-block;
  float: right;
}

.chatbar{
  background-color: white;
  width: 68vw;
  height: 10vh;
}

.chatbar input{
  display: inline-block;
  float: left;
  width: 64vw;
  height: 5vh;
}

.chatbar p{
  display: inline-block;
  float: left;
  font-size: 5vw;
  margin: auto;
  cursor: pointer;
}