.friendsList{
  background-color: pink;
  width: 300px;
  min-height: 100vh;
  overflow-y: scroll;
  display: inline-block;
  float: left;
}

.friendsList input{
  font-size: 30px;
  width: 250px;
  margin: 10px;
}

.chatting {
  background-color:rgb(255, 180, 180);
  font-size: 30px;
  margin: 0px;
  padding: 10px;
  font-family: monospace; 
  color: black;
  cursor: pointer;
}

.notChatting {
  font-size: 30px;
  margin: 0px;
  padding: 10px;
  font-family: monospace; 
  color: gray;
  cursor: pointer;
}

.newMessage {
  font-size: 30px;
  margin: 0px;
  padding: 10px;
  font-family: monospace; 
  color: black;
  font-weight: bold;
  cursor: pointer;
}